<div class="navbar navbar-expand-sm navbar-dark fixed-top" style="background-color: rebeccapurple">
  <span class="navbar-brand">
    Bike Builder
  </span>
  <div id="navbarContent" class="collapse navbar-collapse">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link" routerLink="/signUp" routerLinkActive="active" *ngIf="!isAuthenticated">Sign up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/signIn" routerLinkActive="active" *ngIf="!isAuthenticated">Sign in</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="" (click)="signOut()" *ngIf="isAuthenticated">Sign out</a>
      </li>
    </ul>
  </div>
</div>
<div class="container" *ngIf="isAuthenticated">
  <h4>Signed in with email: {{user['attributes']['email']}}</h4>
</div>
