<form [formGroup]="partForm" (ngSubmit)="onSubmit()" style="margin-top: 70px">
  <h1 #t1 class="lead" style="text-align: center; margin-bottom: 0.4em; font-size: 5em">Frame</h1>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="card" style="height: 14em">
          <div class="card-body">
            <img style="display: block; margin: auto;" [src]=frameDisplayInfo.imgUrl alt="bike"/>
          </div>
        </div>
      </div>
      <div class="col-sm" style="width: 30rem;">
        <div class="card" style="height: 14em">
          <div class="card-body">
            <h5 class="card-title">Description</h5>
            <p class="card-text">{{frameDisplayInfo.description}}</p>
          </div>
        </div>
      </div>
      <div class="col-sm" style="width: 30rem;">
        <div class="card" style="height: 14em">
          <div class="card-body">
            <h5 class="card-title">Features</h5>
            <p class="card-text" style="max-height: 10em; overflow-y: auto;">{{frameDisplayInfo.features}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="max-height: 13.5em; overflow-y: auto; margin-top: 2.25em; margin-bottom: 1em">
    <table class="table table-striped table-dark table-hover">
      <thead>
      <tr>
        <th scope="col">Frame ID</th>
        <th scope="col">Frame Title</th>
        <th scope="col">Frame Price</th>
        <th scope="col">Select</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let frame of framesList">
        <th scope="row">{{frame["id"]["S"]}}</th>
        <td>{{frame["part_title"]["S"]}}</td>
        <td>{{frame["part_price"]["S"]}}</td>
        <td><input type="radio" formControlName="frame" [id]="frame.id.S" [value]="frame" (change)="onFrameChange(frame.part_img.S, frame.part_description.S, frame.part_features.S)"></td>
      </tr>
      </tbody>
    </table>
  </div>
  <button type="button" #b1 class="btn-lg" style="display: block; width: 100%; margin-bottom: 40px" (click)="scroll(b1)">
    Next: Groupsets
  </button>
  <h1 class="lead" style="text-align: center; margin-bottom: 0.4em; font-size: 5em">Groupset</h1>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="card" style="height: 14em">
          <div class="card-body">
            <img style="display: block; margin: auto;" [src]=groupsetDisplayInfo.imgUrl alt="bike"/>
          </div>
        </div>
      </div>
      <div class="col-sm" style="width: 30rem;">
        <div class="card" style="height: 14em">
          <div class="card-body">
            <h5 class="card-title">Description</h5>
            <p class="card-text">{{groupsetDisplayInfo.description}}</p>
          </div>
        </div>
      </div>
      <div class="col-sm" style="width: 30rem;">
        <div class="card" style="height: 14em">
          <div class="card-body">
            <h5 class="card-title">Features</h5>
            <p class="card-text" style="max-height: 10em; overflow-y: auto;">{{groupsetDisplayInfo.features}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <table class="table table-striped table-dark table-hover" style="margin-top: 2.25em; height: 13.5em;">
    <thead>
    <tr>
      <th scope="col">Groupset ID</th>
      <th scope="col">Groupset Title</th>
      <th scope="col">Groupset Price</th>
      <th scope="col">Select</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let groupset of groupsetList">
      <th scope="row">{{groupset["id"]["S"]}}</th>
      <td>{{groupset["part_title"]["S"]}}</td>
      <td>{{groupset["part_price"]["S"]}}</td>
      <td><input type="radio" formControlName="groupset" [id]="groupset.id.S" [value]="groupset" (change)="onGroupsetChange(groupset.part_img.S, groupset.part_description.S, groupset.part_features.S)"></td>
    </tr>
    </tbody>
  </table>
  <button type="button" #b2 class="btn-lg" style="display: block; width: 100%; margin-bottom: 40px" (click)="scroll(b2)">
    Next: Wheelsets
  </button>
  <h1 class="lead" style="text-align: center; margin-bottom: 0.4em; font-size: 5em">Wheelset</h1>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="card" style="height: 14em">
          <div class="card-body">
            <img style="display: block; margin: auto;" [src]=wheelsetDisplayInfo.imgUrl alt="bike"/>
          </div>
        </div>
      </div>
      <div class="col-sm" style="width: 30rem;">
        <div class="card" style="height: 14em">
          <div class="card-body">
            <h5 class="card-title">Description</h5>
            <p class="card-text">{{wheelsetDisplayInfo.description}}</p>
          </div>
        </div>
      </div>
      <div class="col-sm" style="width: 30rem;">
        <div class="card" style="height: 14em">
          <div class="card-body">
            <h5 class="card-title">Features</h5>
            <p class="card-text" style="max-height: 10em; overflow-y: auto;">{{wheelsetDisplayInfo.features}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="max-height: 13.5em; overflow-y: auto; margin-top: 2.25em; margin-bottom: 1em">
    <table class="table table-striped table-dark table-hover">
      <thead>
      <tr>
        <th scope="col">Wheelset ID</th>
        <th scope="col">Wheelset Title</th>
        <th scope="col">Wheelset Price</th>
        <th scope="col">Select</th>
      </tr>
      </thead>
      <tbody style="max-height: 20em; overflow-y: auto;">
      <tr *ngFor="let wheelset of wheelsetList">
        <th scope="row">{{wheelset["id"]["S"]}}</th>
        <td>{{wheelset["part_title"]["S"]}}</td>
        <td>{{wheelset["part_price"]["S"]}}</td>
        <td><input type="radio" formControlName="wheelset" [id]="wheelset.id.S" [value]="wheelset" (change)="onWheelsetChange(wheelset.part_img.S, wheelset.part_description.S, wheelset.part_features.S)"></td>
      </tr>
      </tbody>
    </table>
  </div>
  <button type="button" #b3 class="btn-lg" style="display: block; width: 100%; margin-bottom: 40px" (click)="scroll(b3)">
    Next: Stem
  </button>
  <h1 class="lead" style="text-align: center; margin-bottom: 0.4em; font-size: 5em">Stem</h1>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="card" style="height: 14em">
          <div class="card-body">
            <img style="display: block; margin: auto;" [src]=stemDisplayInfo.imgUrl alt="bike"/>
          </div>
        </div>
      </div>
      <div class="col-sm" style="width: 30rem;">
        <div class="card" style="height: 14em">
          <div class="card-body">
            <h5 class="card-title">Description</h5>
            <p class="card-text">{{stemDisplayInfo.description}}</p>
          </div>
        </div>
      </div>
      <div class="col-sm" style="width: 30rem;">
        <div class="card" style="height: 14em">
          <div class="card-body">
            <h5 class="card-title">Features</h5>
            <p class="card-text" style="max-height: 10em; overflow-y: auto;">{{stemDisplayInfo.features}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="max-height: 13.5em; overflow-y: auto; margin-top: 2.25em; margin-bottom: 1em">
    <table class="table table-striped table-dark table-hover">
      <thead>
      <tr>
        <th scope="col">Stem ID</th>
        <th scope="col">Stem Title</th>
        <th scope="col">Stem Price</th>
        <th scope="col">Select</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let stem of stemList">
        <th scope="row">{{stem["id"]["S"]}}</th>
        <td>{{stem["part_title"]["S"]}}</td>
        <td>{{stem["part_price"]["S"]}}</td>
        <td><input type="radio" formControlName="stem" [id]="stem.id.S" [value]="stem" (change)="onStemChange(stem.part_img.S, stem.part_description.S, stem.part_features.S)"></td>
      </tr>
      </tbody>
    </table>
  </div>
  <button type="button" #b4 class="btn-lg" style="display: block; width: 100%; margin-bottom: 40px" (click)="scroll(b4)">
    Next: Tyres
  </button>
  <h1 class="lead" style="text-align: center; margin-bottom: 0.4em; font-size: 5em">Tyres</h1>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="card" style="height: 14em">
          <div class="card-body">
            <img style="display: block; margin: auto;" [src]=tyresDisplayInfo.imgUrl alt="bike"/>
          </div>
        </div>
      </div>
      <div class="col-sm" style="width: 30rem;">
        <div class="card" style="height: 14em">
          <div class="card-body">
            <h5 class="card-title">Description</h5>
            <p class="card-text">{{tyresDisplayInfo.description}}</p>
          </div>
        </div>
      </div>
      <div class="col-sm" style="width: 30rem; height: 40%">
        <div class="card" style="height: 14em">
          <div class="card-body">
            <h5 class="card-title">Features</h5>
            <p class="card-text" style="max-height: 10em; overflow-y: auto;">{{tyresDisplayInfo.features}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="max-height: 13.5em; overflow-y: auto; margin-top: 2.25em; margin-bottom: 1em">
    <table class="table table-striped table-dark table-hover">
      <thead>
      <tr>
        <th scope="col">Tyres ID</th>
        <th scope="col">Tyres Title</th>
        <th scope="col">Tyres Price</th>
        <th scope="col">Select</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let tyres of tyresList">
        <th scope="row">{{tyres["id"]["S"]}}</th>
        <td>{{tyres["part_title"]["S"]}}</td>
        <td>{{tyres["part_price"]["S"]}}</td>
        <td><input type="radio" formControlName="tyres" [id]="tyres.id.S" [value]="tyres" (change)="onTyresChange(tyres.part_img.S, tyres.part_description.S, tyres.part_features.S)"></td>
      </tr>
      </tbody>
    </table>
  </div>
  <button type="button" #jeff class="btn-lg" style="display: block; width: 100%; margin-bottom: 40px" (click)="scroll(jeff)">
    Next: Handlebars
  </button>
  <h1 class="lead" style="text-align: center; margin-bottom: 0.4em; font-size: 5em">Handlebar</h1>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="card" style="height: 14em">
          <div class="card-body">
            <img style="display: block; margin: auto;" [src]=handlebarDisplayInfo.imgUrl alt="bike"/>
          </div>
        </div>
      </div>
      <div class="col-sm" style="width: 30rem;">
        <div class="card" style="height: 14em">
          <div class="card-body">
            <h5 class="card-title">Description</h5>
            <p class="card-text">{{handlebarDisplayInfo.description}}</p>
          </div>
        </div>
      </div>
      <div class="col-sm" style="width: 30rem;">
        <div class="card" style="height: 14em">
          <div class="card-body">
            <h5 class="card-title">Features</h5>
            <p class="card-text" style="max-height: 10em; overflow-y: auto;">{{handlebarDisplayInfo.features}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="max-height: 13.5em; overflow-y: auto; margin-top: 2.25em; margin-bottom: 1em">
    <table class="table table-striped table-dark table-hover">
      <thead>
      <tr>
        <th scope="col">Handlebar ID</th>
        <th scope="col">Handlebar Title</th>
        <th scope="col">Handlebar Price</th>
        <th scope="col">Select</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let handlebar of handlebarsList">
        <th scope="row">{{handlebar["id"]["S"]}}</th>
        <td>{{handlebar["part_title"]["S"]}}</td>
        <td>{{handlebar["part_price"]["S"]}}</td>
        <td><input type="radio" formControlName="handlebar" [id]="handlebar.id.S" [value]="handlebar" (change)="onHandlebarChange(handlebar.part_img.S, handlebar.part_description.S, handlebar.part_features.S)"></td>
      </tr>
      </tbody>
    </table>
  </div>
  <button type="button" #b5 class="btn-lg" style="display: block; width: 100%; margin-bottom: 40px" (click)="scroll(b5)">
    Next: Seatpost
  </button>
  <h1 class="lead" style="text-align: center; margin-bottom: 0.4em; font-size: 5em">Seatpost</h1>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="card" style="height: 14em">
          <div class="card-body">
            <img style="display: block; margin: auto;" [src]=seatpostDisplayInfo.imgUrl alt="bike"/>
          </div>
        </div>
      </div>
      <div class="col-sm" style="width: 30rem;">
        <div class="card" style="height: 14em">
          <div class="card-body">
            <h5 class="card-title">Description</h5>
            <p class="card-text">{{seatpostDisplayInfo.description}}</p>
          </div>
        </div>
      </div>
      <div class="col-sm" style="width: 30rem; height: 40%">
        <div class="card" style="height: 14em">
          <div class="card-body">
            <h5 class="card-title">Features</h5>
            <p class="card-text" style="max-height: 10em; overflow-y: auto;">{{seatpostDisplayInfo.features}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="max-height: 13.5em; overflow-y: auto; margin-top: 2.25em; margin-bottom: 1em">
    <table class="table table-striped table-dark table-hover">
      <thead>
      <tr>
        <th scope="col">Seatpost ID</th>
        <th scope="col">Seatpost Title</th>
        <th scope="col">Seatpost Price</th>
        <th scope="col">Select</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let seatpost of seatpostList">
        <th scope="row">{{seatpost["id"]["S"]}}</th>
        <td>{{seatpost["part_title"]["S"]}}</td>
        <td>{{seatpost["part_price"]["S"]}}</td>
        <td><input type="radio" formControlName="seatpost" [id]="seatpost.id.S" [value]="seatpost" (change)="onSeatpostChange(seatpost.part_img.S, seatpost.part_description.S, seatpost.part_features.S)"></td>
      </tr>
      </tbody>
    </table>
  </div>
  <button type="button" #b6 class="btn-lg" style="display: block; width: 100%; margin-bottom: 40px" (click)="scroll(b6)">
    Next: Saddles
  </button>
  <h1 class="lead" style="text-align: center; margin-bottom: 0.4em; font-size: 5em">Saddle</h1>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="card" style="height: 14em">
          <div class="card-body">
            <img style="display: block; margin: auto;" [src]=saddleDisplayInfo.imgUrl alt="bike"/>
          </div>
        </div>
      </div>
      <div class="col-sm" style="width: 30rem;">
        <div class="card" style="height: 14em">
          <div class="card-body">
            <h5 class="card-title">Description</h5>
            <p class="card-text">{{saddleDisplayInfo.description}}</p>
          </div>
        </div>
      </div>
      <div class="col-sm" style="width: 30rem; height: 40%">
        <div class="card" style="height: 14em">
          <div class="card-body">
            <h5 class="card-title">Features</h5>
            <p class="card-text" style="max-height: 10em; overflow-y: auto;">{{saddleDisplayInfo.features}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="max-height: 13.5em; overflow-y: auto; margin-top: 2.25em; margin-bottom: 1em">
    <table class="table table-striped table-dark table-hover">
      <thead>
      <tr>
        <th scope="col">Saddle ID</th>
        <th scope="col">Saddle Title</th>
        <th scope="col">Saddle Price</th>
        <th scope="col">Select</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let saddle of saddleList">
        <th scope="row">{{saddle["id"]["S"]}}</th>
        <td>{{saddle["part_title"]["S"]}}</td>
        <td>{{saddle["part_price"]["S"]}}</td>
        <td><input type="radio" formControlName="saddle" [id]="saddle.id.S" [value]="saddle" (change)="onSaddleChange(saddle.part_img.S, saddle.part_description.S, saddle.part_features.S)"></td>
      </tr>
      </tbody>
    </table>
  </div>
  <button type="submit" [disabled]="!partForm.valid" class="btn-success" style="display: block; width: 100%;">
    Finish
  </button>
</form>
